.container {
  margin-top: 60px;
  border: 1px solid black;
}
.title {
  text-align: center;
  font-weight: 600;
}
.error {
  color: red;
  font-size: 12px;
  text-align: center;
}
.form {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  > button {
    margin: 15px 0px 15px 0px;
    font-weight: 600;
    cursor: pointer;
  }
}
.inputWrapper {
  width: 110px;
  margin-top: 10px;
  width: 170px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  > label {
    font-size: 12px;
  }
}
